**/__pycache__/**
.venv/
dist/
.dev/
frames*/
data/
benchmarks/
test_data/*
*.prof
.DS_Store
*scratch.py
*.log
TODO.txt

.coverage

# mkdocs
site/

# Latex document for numerical method
docs/numerical_method/*
!docs/numerical_method/*.sty
!docs/numerical_method/*.bst
!docs/numerical_method/*.tex
!docs/numerical_method/*.jpg
!docs/numerical_method/*.pdf
