# Results #

Version: 0.5.0

2023-04-27 15:47

---

Name: ConstantMicroLXF

Output looked at: None

Result (P/C): C

---

Name: YearlyMacroLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMicroLU

Output looked at: None

Result (P/C): P

---

Name: YearlyMicroLXF

Output looked at: None

Result (P/C): C

---

Name: YearlyMedLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMedLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMacroLU

Output looked at: None

Result (P/C): P

---

Name: YearlyMicroLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMedLXF

Output looked at: None

Result (P/C): C

---

Name: YearlyMacroLXF

Output looked at: None

Result (P/C): C

---

Name: YearlyMedLXF

Output looked at: None

Result (P/C): C

---

Name: ConstantMacroLXF

Output looked at: None

Result (P/C): C

---

Name: YearlyMacroLXFImplicit

Output looked at: None

Result (P/C): C

---

Name: ConstantMacroLXFImplicit

Output looked at: None

Result (P/C): C

---

Name: ConstantMedLXFImplicit

Output looked at: None

Result (P/C): C

---

Name: ConstantMicroLXFImplicit

Output looked at: None

Result (P/C): P

---

Name: YearlyMedLXFImplicit

Output looked at: None

Result (P/C): C

---

Name: YearlyMicroLXFImplicit

Output looked at: None

Result (P/C): P

---
