# Results #

Version: 0.6.0

2023-05-19 07:55

---

Name: YearlyMacroLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMicroLU

Output looked at: None

Result (P/C): P

---

Name: YearlyMedLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMedLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMacroLU

Output looked at: None

Result (P/C): P

---

Name: YearlyMicroLU

Output looked at: None

Result (P/C): P

---
