# Results #

Version: 0.9.0

2023-11-12 19:11

All test cases generated from `tests.generate_tests.py` ran without crashing.
Note the lagged solver test cases are removed as this is now deprecated.
