# Results #

Version: 0.3.0

2023-04-17 23:03

---

Name: ConstantMicroLXF

Output looked at: None

Result (P/C): P

---

Name: YearlyMacroLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMicroLU

Output looked at: None

Result (P/C): P

---

Name: YearlyMicroLXF

Output looked at: None

Result (P/C): P

---

Name: YearlyMedLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMedLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMacroLU

Output looked at: None

Result (P/C): P

---

Name: YearlyMicroLU

Output looked at: None

Result (P/C): P

---

Name: ConstantMedLXF

Output looked at: None

Result (P/C): P

---

Name: YearlyMacroLXF

Output looked at: None

Result (P/C): C

---

Name: YearlyMedLXF

Output looked at: None

Result (P/C): C

---

Name: ConstantMacroLXF

Output looked at: None

Result (P/C): C

---
